* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  margin: 0;
  padding: 10px;
  text-align: center;
  background: #d05022;
}

.header h1 {
    color: white;
    font-size: 35px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.form_center {   
  width: 50%;
  float: center;
}

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}